* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cont {
  display: grid;
  grid-template-rows: 3.5rem 1fr 3rem;
  min-height: 100vh;
  min-width: 971px;
}

.navb {
  display: grid;
  /* height: 3.4rem; */
  background-color: #f8f9fa;
  /* background-color: green; */
  grid-template-columns: 13rem 4fr 12rem;
}

.dfjcac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfjc {
  display: flex;
  justify-content: center;
}
.dfac {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
}
.hr1 {
  padding-right: 0.5rem;
  border-right: 1px solid #dfe0e1;
}
.left-nav {
  display: flex;
}

.expandicon {
  margin: 0 0.5rem;
  height: 1.5rem;
}

.icon-img {
  display: flex;
  margin: 0 0.5rem;
}
.hr1-img {
  height: 2rem;
}
.np {
  height: 2.5rem;
  border-left: 1px solid #a8a8a8;
  padding-left: 1rem;
  font-size: 0.9rem;
  /* font-weight: 800; */
}

.middle-nav {
  display: flex;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  padding-left: 3rem;
  /* font-family: sans-serif; */
}

.mn-item {
  padding: 0 1rem;
  color: #a8a8a8;
}

.img {
  height: 80%;
}

.active {
  border-bottom: 0.3rem solid #d63384;
  font-weight: 600;
  color: black;
}

.mr0_4 {
  margin-right: 0.4rem;
}

.main {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
}

.right {
  background-image: linear-gradient(to right, #f1f1f1, #f4f4f4, #f1f1f1);
  padding: 1rem;
  display: grid;
  grid-template-rows: 6rem repeat(auto-fit, 4rem);
  row-gap: 0.8rem;
}

.font0_8 {
  font-size: 0.8rem;
  display: block;
  margin-top: 0.4rem;
  color: #525252;
}

.font0_8n {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

.fi-heading {
  font-size: 0.8rem;
  font-weight: 600;
}

.mmx-dropdown {
  justify-content: space-between;
  border: 1px solid #cfd4d9;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.3rem !important;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.dropdown-menu {
  width: 100%;
}

.mmx-footer {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
}
.rt-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background-color: #f8f9fa;
}
.width7rem {
  width: 7rem;
}
.prcd {
  background-color: #0d6efd;
  color: white;
}

.left {
  display: grid;
  grid-template-rows: 3rem 1fr;
  padding: 1rem 0 0 2rem;
}

.lheading {
  font-size: 1.7rem;
  font-weight: 500;
  color: #d63384;
  padding-right: 1rem;
  border-right: 1px solid #e6e6e6;
}

.uploadfile {
  padding-left: 1rem;
}

.material-symbols-outlined {
  color: #0f62fe;
}

div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
}

.tablediv {
  display: block;
  position: relative;
  width: 95%;
  height: 80%;

  max-height: 300px;
}

#collap {
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 1rem;
  height: 70%;
  /* border: 1px solid black; */
  padding-right: 1rem;
  overflow: overlay;
  scroll-padding-top: 50px;
}

.tabl {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.tabl td,
.tabl th {
  padding: 0.75rem;
  vertical-align: top;
  /* border-top: 1px solid #dee2e6; */
}

.tabl th {
  background-color: #f2f2f2;
  color: #d9d9d9;
}

.tabl thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-right: 2px solid #dee2e6;
}

.tabl tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.tabl tbody td {
  border-bottom: 2px solid #dee2e6;
  border-right: 2px solid #dee2e6;
}

::-webkit-scrollbar {
  width: 1.4rem;
  height: 1.4rem;
}
::-webkit-scrollbar-track:horizontal {
  background-color: white;
}

::-webkit-scrollbar-track:vertical {
  margin-top: 3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 1rem;
  border: 0.5rem solid transparent;
  background-clip: content-box;
}

.borderless {
  border-right: none !important;
}
.btn-primary {
  display: flex !important;
  margin: 0 1.5rem 0 0;
  align-items: center;
  color: white;
}
.lstrow {
  border-bottom: none !important;
}
.material-symbols-outlined {
  color: white !important;
  font-size: 1.3rem !important;
  margin-left: 7px;
}
.form-control,
.form-select {
  padding: 0.3rem !important;
}

.fi-heading {
  display: block;
  margin-bottom: 0.2rem;
}

#example {
  text-align: center;
}

.dataTables_wrapper {
  width: 100% !important;
}

.btn-light {
  border: 1px solid #6c757d !important;
  margin-right: 0.5rem;
}
